/* global *********************** */

body{
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
button{
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
}
button, input{
    font-family: inherit;
}
.PhoneInputInput{
    outline: none;
    padding: 0.4rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* header start ***************** */

.main-header{
    position: sticky;
    top: 0;
    padding: 0.2rem 2rem;
    background-color: rgb(124, 242, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .left-col{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main-header .right-col {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}
.logo-image{
    cursor: pointer;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.header-search{
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    width: max-content;
    height: max-content;
}
.header-search input{
    border: none;
    outline: none;
    width: 40rem;
    height: 3rem;
    font-size: 15px;
    padding: 0 1rem;
}
.search-button{
    background-color: rgb(224, 135, 168);
    transition: all 300ms ease-in-out;
    padding: 0.5rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-button:hover{
    background-color: rgb(223, 174, 192);
    transition: all 300ms ease-in-out;
}
.search-button img{
    max-width: 15px;
    max-height: 15px;
}
.cart-image, .profile-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.profile-container{
    cursor: pointer;
}
.name-icon{
    background-color: rgb(107, 39, 51);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

/* header end **************** */

/* body start *************** */

.main-body{
    min-height: 100vh;
}
.home-screen .product-catagory{
    margin: 0.5rem 1rem;
    border-radius: 4px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.home-screen .catagory-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}
.home-screen .catagory-header>.title {
    font-weight: 600;
}
.home-screen .catagory-body {
    display: flex;
    width: 100%;
    align-items: center;
}
.home-screen .product-card {
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
}
.home-screen .product-image-container {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.home-screen .product-image {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.home-screen .product-card>.product-price {
    color: rgb(60, 132, 132);
    font-weight: 500;
}
.home-screen .view-all{
    border: 0;
    font-size: medium;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 2px;
    background-color: rgb(224, 135, 168);
    color: rgb(107, 39, 51);
}

/* modals */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login card */

.login-card{
    position: absolute;
    padding: 1.2rem 2rem;
    background-color: white;
    border-radius: 4px;
}
.login-card .form-label{
    padding-bottom: 0.1rem;
}
.login-card .form-input{
    padding-bottom: 0.8rem;
}
.login-card .error {
    color: red;
    font-size: small;
}
.login-card .error.globalError {
    text-align: center;
    padding-bottom: 0.5rem;
}
.login-card .form-input input, .login-card .form-input button{
    padding: 0.4rem;
    outline: none;
    width: -webkit-fill-available;
}
.login-button{
    background-color: rgb(0, 191, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.login-button:hover{
    background-color: rgb(211, 211, 211);
    color: rgb(0, 191, 0);
    transition: all 200ms ease-in-out;
}
.login-card .or{
    text-align: center;
    padding-bottom: 0.8rem;
}
.login-card .google-button{
    width: 100%;
    border: 1px solid transparent;
    padding: 0.4rem;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
}
.login-card .google-button:hover{
    border: 1px solid #4285F4;
    transition: all 200ms ease-in-out;
}
.login-card .sign-up-text{
    font-size: small;
    padding-top: 1rem;
    text-align: center;
}
.login-card .sign-up-link {
    cursor: pointer;
}
.login-card .sign-up-link:hover {
    color: #4285F4;
}
.login-card .greetings {
    text-align: center;
    padding-bottom: 1rem;
}
.login-card .otp-error {
    text-align: center;
    padding-top: 0.4rem;
}
.login-card .resend-otp {
    text-align: center;
}
.login-card .resend-otp-link{
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.login-card .resend-otp-link:hover {
    color: #4285F4;
    transition: all 200ms ease-in-out;
}

/* OTP Field */

.otp-field{
 display: flex;
 gap: 1rem;
 justify-content: center;
 align-items: center;
 padding-top: 1rem;
}
.otp-field input{
    width: 0.5rem !important;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/* paytm button */
.paytm-button{
    width: 100%;
    padding: 0.4rem;
    border-radius: 4px;
    background-color: rgb(0, 191, 0);
    transition: all 200ms ease-in-out;
}
.paytm-button:hover{
    background-color: rgb(211, 211, 211);
    color: rgb(0, 191, 0);
    transition: all 200ms ease-in-out;
}

/* loader */
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    color: white;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.loader.dot-flashing::before,
.loader.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.loader.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    color: white;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.loader.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    color: white;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

.loader.spinner {
    border: 4px solid transparent;
    border-top: 4px solid rgb(107, 39, 51);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes dot-flashing {
    0% {
        background-color: white;
    }

    50%,
    100% {
        background-color: rgba(152, 128, 255, 0.2);
    }
}
/* body end **************** */

/* footer start ************** */
.main-footer{
    background-color: rgb(169, 194, 205);
    padding: 1rem;
}
.main-footer .first-row{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}
.main-footer .row-item{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(107, 39, 51);
    text-align: center;
}

.main-footer .title {
    font-size: large;
    font-weight: 600;
    padding: 0 0 4px 0;
}

.footer-banner-icon{
    height: 50px;
    width: 50px;
    padding: 1rem 0;
}

/* footer end *************** */